// root
:root {
  --crm-indent: 8px;
  --crm-indent-l: 18px;
  --crm-border-radius: 3px;
  --crm-border-color: #00000020;
  --crm-opacity: 0.6;
  --crm-opacity-l: 0.25;
}

// variables
$p: 8px;
$pl: 18px;
$brad: 5px;
$border_color: #00000020;
$op: 0.6;
$opl: 0.25;
