@import 'frontend/src/views/apps/crm/widgets/assets/styles/_bundler.scss';

// views_wrapper
.views_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: $pl;

  & > * {
    width: 100%;
    margin: 0;
  }
}
