// header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $p;

  margin-bottom: $pl;
}

.header_buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: $p;
}

.header_button {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: $ps $p;
}
